<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/docs.css">
  <title>Astro images</title>
</head>
<body>
  <header>
    <div class="container-header">
      <a href="../../index.html"><img src="/src/img/rocket_circle.svg" alt="rocket" /></a>
      <nav>
        <ul>
          <li><a href="/src/pages/docs.html">Docs</a></li>
          <li><a href="/src/pages/more.html">More</a></li>
          <li><a href="/src/pages/about.html">About-us</a></li>
        </ul>
      </nav>
    </div>
  </header>

    <div class="main">     
      <div class="main-info">
        <h1>Astronomy Picture of the Day</h1>
        <div id="apod-container"></div>
      </div>
  </div>

  <footer>

  </footer>

  <script src="../js/apod.js"></script>
</body>
</html>